[submodule "shopeando"]
	path = shopeando
	url = git@git.vauxoo.com:vauxoo/shopeando.git
	branch = 12.0
[submodule "server-tools"]
	path = server-tools
	url = git@github.com:Vauxoo/server-tools.git
	branch = 12.0
[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 12.0
[submodule "madkting"]
	path = madkting
	url = https://bitbucket.org/madkting/odoo_module.git
	branch = 12.0
[submodule "connector"]
	path = connector
	url = git@github.com:OCA/connector.git
	branch = 12.0
